[Unit]
Description=Beszel Hub
After=network-online.target services-network.service
Requires=services-network.service

[Container]
Image=docker.io/henrygd/beszel:latest
ContainerName=beszel
Network=services.network

Volume=/var/home/core/beszel:/beszel_data:Z
Environment=USER_EMAIL=marmocc@marmo.cc
Secret=beszel_admin_password,type=env,target=USER_PASSWORD

[Service]
Restart=always

[Install]
WantedBy=default.target