[Unit]
Description=Beszel Agent
After=network-online.target

[Container]
Image=docker.io/henrygd/beszel-agent:alpine
ContainerName=beszel-agent
Network=host

PodmanArgs=--pid=host --privileged
SecurityLabelDisable=true
Secret=beszel_ssh_key,type=env,target=KEY

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target