[Unit]
Description=Cloudflare Tunnel
After=network-online.target

[Container]
Image=docker.io/cloudflare/cloudflared:latest
ContainerName=cloudflared
EnvironmentFile=/var/home/services/.config/containers/systemd/secrets.env
Exec=tunnel --no-autoupdate run

[Service]
Restart=always