[Unit]
Description=Cloudflare Tunnel
After=network-online.target aion-network.service
Requires=aion-network.service

[Container]
Image=docker.io/cloudflare/cloudflared:latest
ContainerName=cloudflared
EnvironmentFile=/var/home/services/.config/containers/systemd/secrets.env
Exec=tunnel --no-autoupdate run
Network=aion.network

[Service]
Restart=always