[Unit]
Description=Filestash Client
After=network-online.target services-network.service
Requires=services-network.service

[Container]
Image=docker.io/machines/filestash:latest
ContainerName=filestash
Network=services.network

EnvironmentFile=/var/mnt/data/.secrets

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target