[Unit]
Description=Kopia Backup
After=network-online.target var-mnt-data.mount
Requires=var-mnt-data.mount

[Container]
Image=docker.io/kopia/kopia:latest
ContainerName=kopia
Network=host

Volume=/var/mnt/data:/data:ro
Volume=/var/mnt/data/.kopia-backups:/repo

Exec=kopia repository connect filesystem --path /repo && kopia snapshot create /data