[Unit]
Description=Libre WebUI
After=network-online.target services-network.service
Requires=services-network.service

[Container]
Image=docker.io/librewebui/libre-webui:latest
ContainerName=librewebui
Network=services.network
Volume=librewebui_data:/app/backend/data:Z

Environment=CORS_ORIGIN=https://chat.marmo.cc
Environment=OLLAMA_BASE_URL=http://10.0.0.2:11434

[Service]
Restart=always

[Install]
WantedBy=default.target