[Unit]
Description=Filestash Client
After=network-online.target services-network.service
Requires=services-network.service

[Container]
Image=docker.io/machines/filestash:latest
ContainerName=filestash
Network=services.network

UserNS=keep-id
Secret=filestash_password,type=env,target=ADMIN_PASSWORD
Mount=type=bind,source=/var/home/core/.config/filestash/config.json,target=/app/data/state/config/config.json,Z

[Service]
Restart=always
RestartSec=10s

[Install]
WantedBy=default.target