[Unit]
Description=Daily Kopia Backup
Requires=kopia.service

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 02:00:00
AccuracySec=1m
Persistent=true

[Install]
WantedBy=timers.target